@model int
@{
    Layout = null;
}

@if (ViewBag.currentUser as User != null)
{
    if (((User)ViewBag.currentUser).RoleId == UserRole.Teacher)
    {
        <li class="hidden-xs animation-fadeInQuick @(ViewBag.SelectedTab == HeaderTabs.Observation ? "active" : "")">
            @Html.ActionLink("Наблюдения", "Log", "Observation", new { KindergartenId = Model }, new { @class = "siteNavigator_item_link" })
        </li>
    }
}
<li class="hidden-xs animation-fadeInQuick @(ViewBag.SelectedTab == HeaderTabs.Kids ? "active" : "")">
    @Html.ActionLink("Дети", "Index", "Kids", new { KindergartenId = Model }, new { @class = "siteNavigator_item_link" })
</li>
<li class="hidden-xs animation-fadeInQuick @(ViewBag.SelectedTab == HeaderTabs.Inventory ? "active" : "")">
    @Html.ActionLink("Материалы", "Index", "Inventory", new { KindergartenId = Model }, new { @class = "siteNavigator_item_link" })
</li>
<li class="hidden-xs animation-fadeInQuick @(ViewBag.SelectedTab == HeaderTabs.Kindergarten ? "active" : "")">
    @Html.ActionLink("Садик", "View", "Kindergarten", new { Id = Model }, new { @class = "siteNavigator_item_link" })
</li>
