@using System.Web.Optimization
@*@model IEnumerable<ObservationModel>*@
@*<script type="text/javascript" src="@Url.Content("https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")"></script>
<script type="text/javascript" src="@Url.Content("https://code.angularjs.org/1.3.15/i18n/angular-locale_ru-ru.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/orm/model.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/observation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/cameInClass.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/emotion.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/activity.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/itemUsageDetails.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/BaseObservationLogger.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/ActivityLogger.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/CameInClassLogger.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/EmotionLogger.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/ObservationLoggerModule.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Sadik/ObservationListModule.js")"></script>
*@

<script type="text/javascript" src="@BundleTable.Bundles.ResolveBundleUrl("~/scripts/js_observ")"></script>


<script type="text/javascript">
    
    $.validator.setDefaults({ ignore: "" });
    
    Activity.loadLocal('Activities');
    ItemUsageDetails.loadLocal('ItemUsageDetails');
    CameInClass.loadLocal('CameInClasses');
    Emotion.loadLocal('Emotions');
    
    $(function(){
        $('#editingDialog').dialog({
            autoOpen: false,
            closeOnEscape: true,
            hide:100,
            modal:true
        });
        var observationLoggerModule = new ObservationLoggerModule({
            block:$('#EditObservationContainer'),
            useCurrentTime: false,
            hideUseCurrentTime:true,
            showKidsSelectorInLoggers:false
        });

        var kidsSource = @Html.Action("IndexShortJsonSerialized", "Kids", new { KindergartenId = ViewBag.KindergartenId });
        var itemsSource = @Html.Action("IndexShortJsonSerialized", "Inventory", new { KindergartenId = ViewBag.KindergartenId });
        observationLoggerModule.SetKidsSource(kidsSource);
        observationLoggerModule.SetItemsSource(itemsSource);
        
        var ObservationsCtrlElement = document.querySelector('[ng-controller=ObservationsCtrl]');
        var ObservationsCtrlScope = angular.element(ObservationsCtrlElement).scope();
        ObservationsCtrlScope.canEdit = @(ViewBag.currentUser as User != null && ((User)ViewBag.currentUser).RoleId == UserRole.Teacher ? "true" : "false");
        ObservationsCtrlScope.canDelete = @(ViewBag.currentUser as User != null && ((User)ViewBag.currentUser).RoleId == UserRole.Teacher ? "true" : "false");
        ObservationsCtrlScope.itemsSource = itemsSource;
        ObservationsCtrlScope.activities = Activity.records;
        ObservationsCtrlScope.cameInClasses = CameInClass.records;
        ObservationsCtrlScope.emotions = Emotion.records;
        ObservationsCtrlScope.observationLoggerModule = observationLoggerModule;
        ObservationsCtrlScope.loadObservationsList(@ViewBag.KidId);
        observationLoggerModule.subscribe("observationSubmittedComplete", function (UniqueId) {
            if(ObservationsCtrlScope.currentUniqueId == UniqueId){
                $('#editingDialog').dialog("close");
                ObservationsCtrlScope.currentUniqueId = null;
            }
        });
        ObservationsCtrlScope.$digest();
    });
</script>
<style>
    .LogObservationArea {
        margin:5px 0 0 5px;
        float:left;
    }
</style>
<div ng-app="ObservationsApp">
    <div id="editingDialog">
        @{
            int KindergartenId = ViewBag.KindergartenId;
            <div id="EditObservationContainer">
                @Html.Action("LogActivity", "Observation", new { KindergartenId = KindergartenId })
                @Html.Action("LogCameInClass", "Observation", new { KindergartenId = KindergartenId })
                @Html.Action("LogEmotion", "Observation", new { KindergartenId = KindergartenId })
            </div>
        }
    </div>
    <div ng-controller="ObservationsCtrl">
        <div ng-if="observations.length > 0">
            <ng-include src="'/ViewsAngular/Observation/ObservationListFilter.html'"></ng-include>
            <ng-include src="'/ViewsAngular/Observation/ObservationList.html'"></ng-include>
        </div>
        <span ng-if="observations.length == 0">Наблюдений ещё не было</span>
    </div>
</div>
