@using System.Web.Optimization
@model LogActivityModel
@{
    ViewBag.Title = "Записать наблюдение";
}
@section HEAD{
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/orm/model.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/observation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/cameInClass.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/emotion.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/activity.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orm/itemUsageDetails.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/BaseObservationLogger.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/ActivityLogger.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/CameInClassLogger.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/EmotionLogger.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ObservationLogger/ObservationLoggerModule.js")"></script>*@
    <script type="text/javascript" src="@BundleTable.Bundles.ResolveBundleUrl("~/scripts/js_observ")"></script>
}
<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Записать наблюдение</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-title">
                <h2>Дети</h2>
            </div>
            <form action="/" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                <select class="js_KidIdCommonSelector"></select>
            </form>
        </div>
    </div>
    <div class="col-md-6">
    @{
        int KindergartenId = ViewBag.KindergartenId;
        <div id="LogObservationContainer" class="block">
            <div class="block-title">
                <h2 class="LogObservationAreaHeader">Наблюдение</h2>
            </div>
            <ul class="nav nav-pills">
                <li class="active"><a href="javascript:void(0)">Работа с материалами</a></li>
                <li><a href="javascript:void(0)">Зашел в класс</a></li>
                <li><a href="javascript:void(0)">Настроение</a></li>
            </ul>
            <div class="LogObservationArea">
                @Html.Action("LogActivity", "Observation", new { KindergartenId = KindergartenId})
            </div>
            <div class="LogObservationArea">
                @Html.Action("LogCameInClass", "Observation", new { KindergartenId = KindergartenId})
            </div>
            <div class="LogObservationArea">
                @Html.Action("LogEmotion", "Observation", new { KindergartenId = KindergartenId})
            </div>
        </div>
    }
    </div>
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: "" });

        var kidsSource = @Html.Action("IndexShortJsonSerialized", "Kids", new { KindergartenId = ViewBag.KindergartenId });
        var itemsSource = @Html.Action("IndexShortJsonSerialized", "Inventory", new { KindergartenId = ViewBag.KindergartenId });
        Activity.loadLocal('Activities');
        ItemUsageDetails.loadLocal('ItemUsageDetails');
        CameInClass.loadLocal('CameInClasses');
        Emotion.loadLocal('Emotions');
        $(function () {
            var observationLoggerModule = new ObservationLoggerModule({
                block:$('#LogObservationContainer'),
                kidsSelectorBlock: $('.js_KidIdCommonSelector'),
                useCurrentTime: true,
                showKidsSelectorInLoggers:false
            });
            observationLoggerModule.SetKidsSource(kidsSource);
            observationLoggerModule.SetItemsSource(itemsSource);
            $('.js_submitButton').click(function (event) {
                if ($('.js_KidIdCommonSelector').val() == '') {
                    event.preventDefault();
                    alert("Пожалуйста, выберите ребенка");
                }
            });
        });
    </script>
</div>