@{
    Layout = null;
}
<div class="js_logObservationBlock_activity">
<form action="" method="post" novalidate="novalidate">
    <input class="js_ObservationId" data-val="true" data-val-number="Значением поля Id должно быть число." id="Id" name="Id" type="hidden" value=""/>
    <input class="js_UniqueId" data-val="true" data-val-required="Уникальный идентификатор наблюдения отсутствует." id="UniqueId" name="UniqueId" type="hidden" value="00000000-0000-0000-0000-000000000000"/>

    <div class="js_useCurrentTimeBlock">
        <input type="checkbox" name="useCurrentTime" class="js_useCurrentTime"/> <span>Использовать текущее время</span>
    </div>
    <div class="js_inputTimeBlock">
        <label for="DateObserved">Дата наблюдения</label>
        <input class="js_datetimebox js_DateObserved" id="DateObservedActivity" name="DateObserved" type="text"/>
        <span class="field-validation-valid" data-valmsg-for="DateObserved" data-valmsg-replace="true"></span>
        <br />
        <span>Время </span>
        <select name="Hours" class="js_HoursObserved" data-val-required="Пожалуйста, укажите время (час)" data-val="true">
              <option value=""></option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
        </select>
        <span> : </span>
        <input name="Minutes" class="js_MinutesObserved timebox_minutes" 
            data-val-required="Пожалуйста, укажите время (минуты)" 
            data-val-number="Пожалуйста, введите число в поле Минуты." 
            data-val-range="Пожалуйста, Введите число меньше 60-ти" 
            data-val-range-min="0" 
            data-val-range-max="59"
            data-val="true" value=""/>
        <br/>
        <div><span class="field-validation-valid" data-valmsg-for="Hours" data-valmsg-replace="true"></span></div>
        <div><span class="field-validation-valid" data-valmsg-for="Minutes" data-valmsg-replace="true"></span></div>
    </div>
    
    <div class="js_KidSelectorContainer">
        <label for="KidId">Ребенок</label>
        <input class="js_KidIdSelect" name="KidIdSelect"/>
        <input class="js_KidId" data-val="true" data-val-number="Значением поля KidId должно быть число." data-val-required="Пожалуйста, выберите ребенка" id="KidId" name="KidId" type="hidden" value=""/>
    </div>
    <div><span class="field-validation-valid" data-valmsg-for="KidId" data-valmsg-replace="true"></span></div>
    <br />
   	<label for="ItemId">Материал</label>
    <input class="js_ItemIdSelect" name="ItemIdSelect"/>
    <input class="js_ItemId" data-val="true" data-val-number="Значением поля ItemId должно быть число." data-val-required="Пожалуйста, выберите материал" id="ItemId" name="ItemId" type="hidden" value="">
    <div><span class="field-validation-valid" data-valmsg-for="ItemId" data-valmsg-replace="true"></span></div>

    <br />
        @*{
            var duration = new SelectListItem[]{ 
                new SelectListItem { Text = ActivityDuration.Brief.DisplayName(), Value = ((int) ActivityDuration.Brief).ToString() },
                new SelectListItem { Text = ActivityDuration.Short.DisplayName(), Value = ((int) ActivityDuration.Short).ToString() },
                new SelectListItem { Text = ActivityDuration.Long.DisplayName(), Value = ((int) ActivityDuration.Long).ToString() }
            };*@
   	    <label for="Duration">Продолжительность</label>
	    <select name="Duration" class="js_Duration" data-val="true" data-val-required="Пожалуйста, выберите продолжительность">
            <option value="@(((int)ActivityDuration.Brief).ToString())" >@ActivityDuration.Brief.DisplayName()</option>
            <option value="@(((int)ActivityDuration.Short).ToString())" >@ActivityDuration.Short.DisplayName()</option>
            <option value="@(((int)ActivityDuration.Long).ToString())" >@ActivityDuration.Long.DisplayName()</option>
	    </select>
        <div><span class="field-validation-valid" data-valmsg-for="Duration" data-valmsg-replace="true"></span></div>
        @*}*@
	<br />
	<a href="javascript:void(0)" class="js_addCommentLink">Комментарии (не обязательно)</a>
    <br />
    <textarea class="js_commentTextArea" cols="30" id="Comment" name="Comment" rows="4"></textarea>
    <br />
    <span class="field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true"></span>

    <br />
	
    
    <label for="Polarization">Была поляризация</label>
	<input class="js_Polarization" data-val="true" data-val-required="Требуется поле Polarization." id="Polarization" name="Polarization" type="checkbox" value="true">
    <input name="Polarization" type="hidden" value="false">
    <span class="field-validation-valid" data-valmsg-for="Polarization" data-valmsg-replace="true"></span>

    <br />
    <label for="ChoseHimSelf">Сам взял</label>
	<input checked="checked" class="js_ChoseHimSelf" data-val="true" data-val-required="Требуется поле ChoseHimSelf." id="ChoseHimSelf" name="ChoseHimSelf" type="checkbox" value="true">
    <input name="ChoseHimSelf" type="hidden" value="false">
    <span class="field-validation-valid" data-valmsg-for="ChoseHimSelf" data-valmsg-replace="true"></span>
   
    <div class="js_presentationBlock" style="display:none;">
        <label for="presPerformed">Презентация:</label>
        <input type="checkbox" name="presPerformed" class="js_presPerformed"/>
        <br/>
        <label for="datePerformed">Дата презентации:</label>
        <input type="text" name="datePerformed" class="js_datetimebox js_datePerformed shortTextField"/>
        <br/>
    </div>
    <div class="js_skillBlock" style="display:none;">
        <label for="skillDegree">Навык:</label>
        <select name="skillDegree" class="js_skillDegree">
            <option value="@((int)SkillDegree.None)">@SkillDegree.None.DisplayName()</option>
            <option value="@((int)SkillDegree.Basic)">@SkillDegree.Basic.DisplayName()</option>
            <option value="@((int)SkillDegree.Intermediate)">@SkillDegree.Intermediate.DisplayName()</option>
            <option value="@((int)SkillDegree.UpperIntermediate)">@SkillDegree.UpperIntermediate.DisplayName()</option>
            <option value="@((int)SkillDegree.Advanced)">@SkillDegree.Advanced.DisplayName()</option>
        </select>
        <br/>
    </div>
    
	    <div id="errorMessage" class="errorMessage"></div>
    <br />
	<input class="js_submitButton" type="submit" value="Сохранить">
    <div id="resultMessageActivity" class="resultMessage js_resultMessage"><span></span></div> 
    <div id="counterActivity" class="resultMessage js_counter">
        <img src="/Content/images/spinner.gif" width="15" height="15" alt="wait"/>
        <span></span>
    </div> 
</form>

</div>