@{
    Layout = null;
}
<div class="js_logObservationBlock_activity">
<form action="" method="post" novalidate="novalidate" class="form-horizontal">
    <input class="js_ObservationId" data-val="true" data-val-number="Значением поля Id должно быть число." id="Id" name="Id" type="hidden" value=""/>
    <input class="js_UniqueId" data-val="true" data-val-required="Уникальный идентификатор наблюдения отсутствует." id="UniqueId" name="UniqueId" type="hidden" value="00000000-0000-0000-0000-000000000000"/>

    <div class="js_useCurrentTimeBlock form-group">
        <div class="col-md-6 col-md-offset-3">
            <div class="checkbox">
                <label for="useCurrentTime">
                    <input type="checkbox" name="useCurrentTime" class="js_useCurrentTime"/> Использовать текущее время
                </label>
            </div>
        </div>
    </div>
    <div class="js_inputTimeBlock">
        <div class="form-group">
            <label for="DateObserved" class="col-md-3 control-label">Дата наблюдения</label>
            <div class="col-md-5">
                <input class="js_datetimebox js_DateObserved form-control" id="DateObservedActivity" name="DateObserved" type="text"
                    data-val-regex-pattern="^(0?[1-9]|[12][0-9]|3[01])[-](0?[1-9]|1[012])[-](19|20)?\d\d$"
                    data-val-regex="Дата должна быть в формате (ДД-ММ-ГГГГ)" data-val="true"/>
            </div>
            @*<div class="col-md-2">
                <select name="Hours" class="js_HoursObserved form-control" data-val-required="Пожалуйста, укажите время (час)" data-val="true">
                      <option value=""></option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                </select>
                <span> : </span>
            </div>
            <div class="col-md-2">
                <input name="Minutes" class="js_MinutesObserved  form-control" 
                    data-val-required="Пожалуйста, укажите время (минуты)" 
                    data-val-number="Пожалуйста, введите число в поле Минуты." 
                    data-val-range="Пожалуйста, Введите число меньше 60-ти" 
                    data-val-range-min="0" 
                    data-val-range-max="59"
                    data-val="true" value=""/>
            </div>*@
            <div class="col-md-4">
                <input name="Minutes" class="form-control input-timepicker24" 
                        data-val-required="Пожалуйста, укажите время (минуты)" 
                        data-val-number="Пожалуйста, введите число в поле Минуты." 
                        data-val-range="Пожалуйста, Введите число меньше 60-ти" 
                        data-val-range-min="0" 
                        data-val-range-max="59"
                        data-val="true" value=""/>
            </div>
            <div class="help-block"><span class="field-validation-valid" data-valmsg-for="DateObserved" data-valmsg-replace="true"></span></div>
            @*<div class="help-block"><span class="field-validation-valid" data-valmsg-for="Hours" data-valmsg-replace="true"></span></div>
            <div class="help-block"><span class="field-validation-valid" data-valmsg-for="Minutes" data-valmsg-replace="true"></span></div>*@
        </div>
    </div>
    
    <div class="js_KidSelectorContainer form-group">
        <label for="KidId" class="col-md-3">Ребенок</label>
        <div class="col-md-6">
            <input class="js_KidIdSelect form-control" name="KidIdSelect"/>
            <input class="js_KidId" data-val="true" data-val-number="Значением поля KidId должно быть число." data-val-required="Пожалуйста, выберите ребенка" id="KidId" name="KidId" type="hidden" value=""/>
            <div class="help-block"><span class="field-validation-valid" data-valmsg-for="KidId" data-valmsg-replace="true"></span></div>
        </div>
    </div>
    <div class="form-group">
   	    <label for="ItemId" class="col-md-3">Материал</label>
        <div class="col-md-6">
            <input class="js_ItemIdSelect form-control" name="ItemIdSelect"/>
            <input class="js_ItemId" data-val="true" data-val-number="Значением поля ItemId должно быть число." data-val-required="Пожалуйста, выберите материал" id="ItemId" name="ItemId" type="hidden" value="">
            <div class="help-block"><span class="field-validation-valid" data-valmsg-for="ItemId" data-valmsg-replace="true"></span></div>
        </div>
    </div>
    <div class="form-group">
   	    <label for="Duration" class="col-md-3">Продолжительность (мин)</label>
        <div class="col-md-6">
            <input name="Duration" class="js_Duration timebox_minutes form-control" 
                data-val-number="Пожалуйста, введите число в поле Продолжительность." 
                data-val-range="Пожалуйста, Введите число меньше 120-ти" 
                data-val-range-min="0" 
                data-val-range-max="120"
                data-val="true" value=""/>
            <div><span class="field-validation-valid" data-valmsg-for="Duration" data-valmsg-replace="true"></span></div>
        </div>
	</div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <ul class="toggle-menu">
                <li>
                    <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Комментарии (не обязательно)</a>
                    <div>
                        <textarea class="js_commentTextArea" cols="30" id="Comment" name="Comment" rows="4"></textarea>
                        <div class="help-block"><span class="field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true"></span></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <label for="Polarization">
	            <input class="js_Polarization" data-val="true" data-val-required="Требуется поле Polarization." id="Polarization" name="Polarization" type="checkbox" value="true">
                Была поляризация
            </label>
            <input name="Polarization" type="hidden" value="false">
            <div class="help-block"><span class="field-validation-valid" data-valmsg-for="Polarization" data-valmsg-replace="true"></span></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <label for="ChoseHimSelf">
	            <input checked="checked" class="js_ChoseHimSelf" data-val="true" data-val-required="Требуется поле ChoseHimSelf." id="ChoseHimSelf" name="ChoseHimSelf" type="checkbox" value="true">
                Сам взял
            </label>
            <input name="ChoseHimSelf" type="hidden" value="false">
            <div class="help-block"><span class="field-validation-valid" data-valmsg-for="ChoseHimSelf" data-valmsg-replace="true"></span></div>
        </div>
    </div>
    <div class="js_presentationBlock" style="display:none;">
        <div class="form-group">
            <label for="presPerformed" class="col-md-3">Была презентация:</label>
            <div class="col-md-6">
                <input type="checkbox" name="presPerformed" class="js_presPerformed"/>
            </div>
        </div>
        <div class="form-group">
            <label for="datePerformed" class="col-md-3">Дата презентации:</label>
            <div class="col-md-6">
                <input type="text" name="datePerformed" class="js_datetimebox js_datePerformed form-control"/>
            </div>
        </div>
    </div>
    <div class="js_skillBlock" style="display:none;">
        <div class="form-group">
            <label for="skillDegree" class="col-md-3">Навык:</label>
            <div class="col-md-6">
                <select name="skillDegree" class="js_skillDegree form-control">
                    <option value="@((int)SkillDegree.None)">@SkillDegree.None.DisplayName()</option>
                    <option value="@((int)SkillDegree.Basic)">@SkillDegree.Basic.DisplayName()</option>
                    <option value="@((int)SkillDegree.Intermediate)">@SkillDegree.Intermediate.DisplayName()</option>
                    <option value="@((int)SkillDegree.UpperIntermediate)">@SkillDegree.UpperIntermediate.DisplayName()</option>
                    <option value="@((int)SkillDegree.Advanced)">@SkillDegree.Advanced.DisplayName()</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
	        <div id="errorMessage" class="errorMessage help-block"></div>
        </div>
    </div>
    <div class="form-group form-actions">
        <div class="col-md-8 col-md-offset-3">
	        <button class="js_submitButton btn btn-effect-ripple btn-primary" type="submit" autofocus>Сохранить</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-3">
            <div id="resultMessageActivity" class="resultMessage js_resultMessage"><span></span></div> 
        </div>
    </div> 
    <div class="form-group">
        <div class="col-md-8 col-md-offset-3">
            <div id="counterActivity" class="resultMessage js_counter">
                <img src="@Url.Content("~/Content/images/spinner.gif")" width="15" height="15" alt="wait"/>
                <span></span>
            </div>
        </div> 
    </div>
</form>

</div>