@model ForgotPasswordModel
@{
    ViewBag.Title = "Восстановление пароля";
}

<h2>Восстановление пароля</h2>

@using (Html.BeginForm<LoginController>(x => x.ForgotPassword(null), FormMethod.Post))
{
    <fieldset>
        <span>Пожалуйста, укажите ваш емейл, и мы вышлем вам новый пароль.</span>
        <br/>
        <br/>
        @Html.LabelFor(x => x.Email, "Емейл")
	    @Html.TextBoxFor(x => x.Email, new { placeholder = "alepush@gmail.com" })
        @Html.ValidationMessageFor(x => x.Email)
        
        @if (ViewBag.ErrorMessage != null)
        {
	        <div id="errorMessage" class="errorMessage">@ViewBag.ErrorMessage</div>
        }
        <br />
	    @Html.SubmitButton(null, "Выслать новый пароль")
    </fieldset>
}